html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #232333;
    color: white;
}

h1{
    margin: 0;
}

th {
    width: 4rem;
    padding: 0.5rem;
    background-color: #171720;
}

input {
    text-align: center;
    color: white;
    border: none;
    background-color: #171720;
    height: 1rem;
}

button {
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    width: 5rem;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #e9ca85;
    border-radius: 5px;
}

button:hover{
    background-color: #c0a66d;
}


.main-ctn {
    width: 100%;
    padding-top: 10rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.octal-ctn {
    padding: 1rem;
    /* border: 1px solid white; */
    width: 50%;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.btn-action {
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
    padding: 1rem;
    width: 100%;
    display: flex;
}

.result{
    margin: 0.5rem;
    height: 3rem;
    width: 10rem;
    background-color: #171720;
    align-items: center;
    justify-content: center;
    display: flex;
}